#the_prologue_main{ background:url(../img/the_prologue_bg.jpg) no-repeat center top; background-size:cover; padding:250px 0px;}

.prologue_logo { width:70%; position:relative;}
.prologue_logo .minting_title{ position:absolute; right:0; top:0px;}
.prologue_logo img{ max-width:100%; display:block;}
.buttons_div{ width:30%; text-align:right;}
.buttons_div .btn-small{ background:none !important; border: 1px solid #6D46FF !important; box-sizing: border-box; border-radius: 8px; font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 600; font-size: 12px; line-height: 20px; text-align: center; color: #6D46FF !important; padding:7px 0px; min-width:180px; text-align:center;}
.buttons_div .btn-small:hover{background: #6D46FF !important; border: 1px solid #6D46FF !important; color: #ffffff !important;}

.centre_text {display: flex; align-items:flex-end; flex-wrap: wrap; justify-content: space-between;}
.centre_text h6{font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 22px; color: #FFFFFF;}
.centre_text h6 span{ display:inline-block; vertical-align:middle; border: 3px solid #00EE6C; box-sizing: border-box; border-radius: 6px; font-size:16px; width: 58px; text-align: center;}
.centre_text .prologue_title{ width:100%; display:block;}
.centre_text .supply{width:100%; display: flex; align-items: center; flex-wrap: wrap;}
.centre_text .supply h6{ width:50%; font-family: 'Rubik', sans-serif;}
.centre_text p{font-family: 'Rubik', sans-serif; font-style: normal; font-weight: 400; font-size: 14px; line-height: 25px; color: #FFFFFF;}

.wallet_box{ background: rgba(109, 70, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.15); box-sizing: border-box; backdrop-filter: blur(10px); border-radius: 12px; text-align:center;}
.wallet_box h5{font-family: 'Rubik', sans-serif; color: #ffffff;}
.wallet_box h1{font-family: 'Rubik', sans-serif; color: #ffffff;}
.wallet_box .btn-large{ background: #6D46FF !important; border: 1px solid rgba(255, 255, 255, 0.15) !important; box-sizing: border-box; border-radius: 8px;     padding: 11px 0px; min-width:100%;}
.wallet_box .btn-large:hover{background: #6D46FF !important; border: 1px solid rgba(255, 255, 255, 0.15) !important;}
.wallet_box p{font-family: 'Rubik', sans-serif; color: #ffffff; font-size:12px; line-height: 14px; margin:20px 0px; font-weight: 400;}
.wallet_box p a{ text-transform: uppercase; color: #6D46FF; font-weight: 500;}

.wallet_box_connected{ background: rgba(109, 70, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.15); box-sizing: border-box; backdrop-filter: blur(10px); border-radius: 12px; text-align:center; padding:20px; }
.bundleAndWallet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.preference_choose{
    padding: 5px 10px;
    display: inline-flex;
    flex-direction: row;
    background-color: #6D46FF;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 8px;
    height: 48px;
    width: 100%;
}

@media(max-width: 1000px){
    .bundleAndWallet{
        flex-direction: column-reverse;
    }
    .bundleAndWallet a{
    width:  100%;
}
}
#customise_bundle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 4px  ;
    background-color: white;
        color: #6D46FF;
}
#choose_bundle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 15px;

    border-radius: 4px;
}



.wallet_box_connected .btn-code{ background:none !important;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 11px 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF !important;
    margin-bottom:25px;
    width: 100%;
    
}
.wallet_box_connected > p{
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size:12px;
    margin:20px 0px 0px 0px;
    font-weight: 400;
}
.wallet_box_connected p a{
    color: #ffffff;
    text-decoration:underline;
}
.wallet_box_connected p a:hover{text-decoration:none;
}


@media(max-width:1140px){

}

@media(max-width:991px){
    #the_prologue_main{
        padding:150px 0px 50px 0px;
    }
}

@media(max-width:767px){
    .prologue_logo{ 
        width:63%;
    }
    .buttons_div{ 
        width:33%;
    }
}

@media(max-width:599px){
    .prologue_logo{ 
        width:100%;
    }
    .buttons_div{ 
        width:100%;
    }
    .buttons_div{ 
        text-align:left;
    }
    .buttons_div .btn-small{ 
        margin:20px 10px 10px 0px;
    }
}

@media(max-width:479px){
    #the_prologue_main{
        padding:150px 0px 50px 0px; 
        /* 100px 0px; */
    }

    .prologue_logo .minting_title{ 
        top:0;
    }
    .buttons_div .btn-small{ 
        margin:20px 10px 0px 0px;
    }
}


#premium_bundle{
    display: grid;
    grid-template-columns: 10% 60% 30%;
}
#Special_bundle{
    display: grid;
    grid-template-columns: 10% 60% 30%;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #6D46FF;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fff;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="checkbox1"] {
  visibility: hidden;
}

.round input[type="checkbox1"]:checked + label {
  background-color: #fff;
}

.round input[type="checkbox1"]:checked + label:after {
  opacity: 1;
}

.final_result_calculate{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.final_result_calculate > p{
    padding: 0px 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px;
}
.final_result_calculate >button{
    width: 177px;
    left: 1097px;
    /* top: 537px; */
    background: linear-gradient(93.91deg, #977BFF 0%, #FF4320 64.17%, #9FFFCB 107.14%);
    border-radius: 8px;
}
.dark-theme{
    background: rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    padding: 10px 10px;
}
.dark-theme-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.dark-theme-top > p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category_tags_2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Photography_category {
    display: flex;
    width: 50%;
    padding: 10px;
    
}
.Traditional_Art{
    display: flex;
    width: 50%;
    padding: 10px;
}
.Digital_Media_category{
    display: flex;
    width: 50%;
    padding: 10px;
}
.Music_category{
    display: flex;
    width: 50%;
    padding: 10px;
}
.Poetry_category{
    display: flex;
    width: 50%;
    padding: 10px;
}
.Film_category{
    display: flex;
    width: 50%;
    padding: 10px;
}
.count-how-many-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.count-how-many{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgba(109, 70, 255, 0.5);
  border-radius: 6px;
}

form {
  /* width: 300px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 0%;
}

.value-button {
  display: inline-block;
  /* border: 1px solid #ddd; */
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  /* background: #eee; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-button:hover {
  cursor: pointer;
}
.changePremiumSpecial{
        font-size: 20px;
}
.changePremiumSpecial2{
    font-size: 15px;
}
@media(max-width: 600px){
    .category_tags_2{
        flex-direction: column;
    }
    .Photography_category, .Traditional_Art, .Digital_Media_category, .Music_category, .Poetry_category, .Film_category, .count-how-many, .count-how-many-left {
        width: 100%;
    }
    #choose_bundle{
        padding: 
        0%;
    }
    .btn_choose{
        font-size: 15px;
    }
    .final_result_calculate > p{
        padding: 0%;
        font-size: 12px;
    }
    .changePremiumSpecial2{
        padding: 0px 10px;
        font-size: 12px;
    }
}

form #decrease1 { margin-right: -4px; border-radius: 8px 0 0 8px; }
form #increase1 { margin-left: -4px; border-radius: 0 8px 8px 0; }
form #input-wrap { margin: 0px; padding: 0px; }
input#number1 { text-align: center; border: none;  margin: 0px; width: 50px; height: 40px; background: transparent; }

/*    NUMBER   2    */
form #decrease2 { margin-right: -4px; border-radius: 8px 0 0 8px; }
form #increase2 { margin-left: -4px; border-radius: 0 8px 8px 0; }
form #input-wrap { margin: 0px; padding: 0px; }
input#number2 { text-align: center; border: none;  margin: 0px; width: 50px; height: 40px; background: transparent; }

/*    NUMBER   3    */
form #decrease3 { margin-right: -4px; border-radius: 8px 0 0 8px; }
form #increase3 { margin-left: -4px; border-radius: 0 8px 8px 0; }
form #input-wrap { margin: 0px; padding: 0px; }
input#number3 { text-align: center; border: none;  margin: 0px; width: 50px; height: 40px; background: transparent; }

/*    NUMBER   4    */
form #decrease4 { margin-right: -4px; border-radius: 8px 0 0 8px; }
form #increase4 { margin-left: -4px; border-radius: 0 8px 8px 0; }
form #input-wrap { margin: 0px; padding: 0px; }
input#number4 { text-align: center; border: none;  margin: 0px; width: 50px; height: 40px; background: transparent; }

/*    NUMBER   5    */
form #decrease5 { margin-right: -4px; border-radius: 8px 0 0 8px; }
form #increase5 { margin-left: -4px; border-radius: 0 8px 8px 0; }
form #input-wrap { margin: 0px; padding: 0px; }
input#number5 { text-align: center; border: none;  margin: 0px; width: 50px; height: 40px; background: transparent; }

/*    NUMBER   6    */
form #decrease6 { margin-right: -4px; border-radius: 8px 0 0 8px; }
form #increase6 { margin-left: -4px; border-radius: 0 8px 8px 0; }
form #input-wrap { margin: 0px; padding: 0px; }
input#number6 { text-align: center; border: none;  margin: 0px; width: 50px; height: 40px; background: transparent; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#inputqty{
    display: none;
}