#tickets_and_passes{ background:url(../img/tickets_hero_bg.png) no-repeat center top; background-size:cover; padding:200px 0px 100px 0px;}
#tickets_and_passes .btn.btn-blue{background: #6D46FF !important; border-color:#6D46FF !important; border-radius: 8px;}
#tickets_and_passes h5{ font-size:36px;}
#tickets_and_passes h6{font-size:20px;}

.entry_ticket{ padding:0; margin-top:-30px;}
.entry_ticket .inner{background: #000000; border: 1px solid #6D46FF; box-sizing: border-box; border-radius: 12px; padding:30px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items:center;}
.entry_ticket .inner .thumb{ width:32%; background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(90deg, #6D46FF 0.01%, #00EE6C 100.02%); padding:40px 80px; text-align:center;}
.entry_ticket .inner .thumb img{ max-width:100%; display:inline-block;}
.entry_ticket .inner .detail{ width:50%; padding:0px 30px;}
.entry_ticket .inner .detail p{font-style: normal; font-family: 'Rubik', sans-serif; font-weight: 400; font-size: 18px; line-height: 21px; color: #F8F8F8;}
.entry_ticket .inner .action{ width:18%; padding:0px; text-align:center;}
.entry_ticket .inner .action .btn.btn-blue{ background: #00EE6C !important; border-color:#00EE6C !important; border-radius: 8px; font-style: normal; font-weight: 600; font-size: 20px; line-height: 24px; text-align: center; color: #000000 !important;}
.entry_ticket .inner .action p{font-style: normal; font-family: 'Rubik', sans-serif; font-weight: 400; font-size: 18px; line-height: 21px; color: #F8F8F8; margin-top:5px;}

.zone_passes{ padding:40px 0px;}
.zone_passes .title{ text-align:center;}
.zone_passes h5{ font-size:36px; margin-bottom:15px;}
.zone_passes p{font-style: normal; font-family: 'Rubik', sans-serif; font-weight: 400; font-size: 18px; line-height: 21px; color: #F8F8F8;}
.zone_passes .list-main{border: 1px solid #6D46FF; border-radius: 12px; margin-top:40px;}
.zone_passes .list-main ul{ width:100%; margin:0; padding:0px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items:start;}
.zone_passes .list-main ul li{ width:33.33%; border-right:1px solid #6D46FF; padding:30px; list-style:none;}
.zone_passes .list-main ul li:nth-child(3n){ border:none;}
/* .zone_passes .list-main ul li .thumb{ width:100%; padding:40px 85px; text-align:center;} */
.zone_passes .list-main ul li .thumb img{ max-width:100%; display:inline-block;}
.zone_passes .list-main ul li.moon_pass .thumb{background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(108.73deg, #6D46FF 12.67%, #111111 135.47%);}
.zone_passes .list-main ul li.sun_pass .thumb{background: linear-gradient(113.22deg, #FF4320 15.02%, #000000 120.66%);}
.zone_passes .list-main ul li.stars_pass .thumb{background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(115.55deg, #6D46FF -11.76%, #00EE6C 83.34%);}
.zone_passes .list-main ul li .details{ width:100%; margin-top:30px;}
.zone_passes .list-main ul li .details h3{font-family: 'Rubik', sans-serif; font-style: normal; font-weight: 400; font-size: 18px; line-height: 21px; color: #F8F8F8; text-transform:uppercase; margin-bottom:10px;}
.zone_passes .list-main ul li .details h2{font-family: 'Rubik', sans-serif; font-style: normal; font-weight:600; font-size:24px; line-height: 28px; color: #F8F8F8; text-transform:uppercase; margin-bottom:10px; min-height:50px;}
.zone_passes .list-main ul li .details .price{ background:url(../img/matic-icon.png) no-repeat left center; background-size:auto 32px; font-family: 'Rubik', sans-serif; font-style: normal; font-weight: 600; font-size: 24px; line-height: 28px; color: #FFFFFF; margin-top:50px; padding-left:30px;}
.zone_passes .list-main ul li .details .price span{font-weight: 400; margin-left:15px;}
.zone_passes .list-main ul li .action{ width:100%; padding:0px; margin-top:15px;}
.zone_passes .list-main ul li .action .quantity{ max-width:180px; background: rgba(109, 70, 255, 0.5); border: 1px solid #6D46FF; box-sizing: border-box; border-radius: 6px; margin-right:5px; display:inline-block; vertical-align:middle;}
.zone_passes .list-main ul li .action .quantity input.qtyplus, .zone_passes .list-main ul li .action .quantity input.qtyminus{ width:44px; font-family: 'Rubik', sans-serif; font-style: normal; font-weight: 500; font-size: 24px; line-height:58px; color: #FFFFFF; background: none; border:none; margin:0; padding:0;}
.zone_passes .list-main ul li .action .quantity .qty{ width:80px; background: none; border:none; font-family: 'Rubik', sans-serif; font-style: normal; font-weight: 500; font-size: 24px; line-height:58px; color: #FFFFFF; text-align:center; margin:0; padding:0;}
.zone_passes .list-main ul li .action .mint{max-width:128px; width:100%; display:inline-block; vertical-align:middle;}
.zone_passes .list-main ul li .action .mint button{background: #00EE6C; border-radius: 8px; font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 600; font-size: 20px; line-height: 24px; text-align: center; color: #000000; border:none; text-transform:uppercase; width:100%; line-height:58px;}

@media(max-width:1140px){
.entry_ticket .inner .detail{width: 46%;}	
.entry_ticket .inner .action{width:22%;}
.zone_passes .list-main ul li .action .quantity{ width:100%; max-width: 140px;}
.zone_passes .list-main ul li .action .quantity input.qtyplus, .zone_passes .list-main ul li .action .quantity input.qtyminus{width: 34px;}
.zone_passes .list-main ul li .action .quantity .qty{width:60px;}
.zone_passes .list-main ul li .action .mint{max-width: 100px;}
}

@media(max-width:991px){
.entry_ticket .inner{ padding:20px;}
.entry_ticket .inner .thumb{ width:28%; padding:40px;}
.entry_ticket .inner .detail{ padding:0px 20px;}
.entry_ticket .inner .action{width: 26%;}
.zone_passes .list-main ul li{ padding:20px;}
/* .zone_passes .list-main ul li .thumb{ padding:40px 45px;} */
.zone_passes .list-main ul li .action .quantity{max-width: 100%; margin-right: 0px; margin-bottom: 10px;}
.zone_passes .list-main ul li .action .mint{max-width: 100%;}
.zone_passes .list-main ul li .action .quantity input.qtyplus, .zone_passes .list-main ul li .action .quantity input.qtyminus{ width:20%;}
.zone_passes .list-main ul li .action .quantity .qty{width:55%;}
}

@media(max-width:767px){
#tickets_and_passes{ padding:150px 0px 80px 0px;}
#tickets_and_passes .fadeInLeft.text-right{ text-align:center;}

.entry_ticket .inner{ padding:15px;}
.entry_ticket .inner .thumb{ width:25%; padding:20px;}
.entry_ticket .inner .detail{ padding:0px 20px;}
.entry_ticket .inner .action{width: 29%;}

.zone_passes .list-main ul li{ padding:15px;}
/* .zone_passes .list-main ul li .thumb{ padding:20px;} */
.zone_passes .list-main ul li .details h3{ font-size:16px;}
}

@media(max-width:599px){
.entry_ticket .inner{ padding:30px;}
.entry_ticket .inner .thumb{ width:100%; padding:40px 80px;}
.entry_ticket .inner .detail{width:100%; padding:20px 0px; text-align:center;}
.entry_ticket .inner .action{width:100%;}

.zone_passes .list-main ul li{width:100%; padding:30px; border-right:none; border-bottom: 1px solid #6D46FF;}
/* .zone_passes .list-main ul li .thumb{ padding:40px 85px;} */
}

@media(max-width:479px){
#tickets_and_passes h5, .zone_passes h5{ font-size:30px;}
.entry_ticket .inner .thumb{ padding:20px 40px;}
.zone_passes .list-main ul li .thumb{ padding:20px 40px;}
.zone_passes .list-main ul li .action .quantity input.qtyplus, .zone_passes .list-main ul li .action .quantity input.qtyminus, .zone_passes .list-main ul li .action .quantity .qty{line-height:45px;}
.zone_passes .list-main ul li .action .mint button{line-height:45px;}
}
.Event_Schedule_side{
    position: absolute;
    position: fixed;
    top: 50%;
    right: -150px;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: left top;
    background-color: #ff2600;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 15px 15px 0px 0px;
    min-width: 100px;
    max-width: 540px;
    height: 48px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 23px;
    z-index: 99 !important;
}
.Event_Schedule_side a{
    text-decoration: none;
    color: white;
}
#modelWin{
    display: flex;
    justify-content: center;
    
}